{% extends 'base.html' %}
{% block content %}
<div class="row" style="display: flex; text-align: center; justify-content: center;">
    <form action="." method="POST" class="form-horizontal col-xs-12 col-sm-10 col-lg-6">
        {% csrf_token %}
        <H1>Đăng ký</H1>
        <div class="row form-group" style="text-align: left; justify-content: center;">
            <label class="control-label col-sm-4">Tên tài khoản:</label>
            <div class="col-sm-8">
                {{form.username}}
            </div>
        </div>
        <div class="row form-group" style="text-align: left; justify-content: center;">
            <label class="control-label col-sm-4">Email:</label>
            <div class="col-sm-8">
                {{form.email}}
            </div>
        </div>
        <div class="row form-group" style="text-align: left; justify-content: center;">
            <label class="control-label col-sm-4">Mật khẩu:</label>
            <div class="col-sm-8">
                {{form.password1}}
            </div>
        </div>
        <div class="row form-group" style="text-align: left; justify-content: center;">
            <label class="control-label col-sm-4">Nhập lại mật khẩu:</label>
            <div class="col-sm-8">
                {{form.password2}}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Đăng ký</button>
    </form>
</div>
{% endblock %}