{% extends "base.html" %}
{% block content %}
    <div class="row" style="display: flex; text-align: center; justify-content: center;">
        <form method="POST" action="."  class="form-horizontal col-xs-12 col-sm-10 col-lg-6">
            <h1> Tạo cuộc hội thoại mới</h1>
            {% csrf_token %}
            <div class="row form-group" style="text-align: left; justify-content: center;">
                <label class="control-label col-sm-4">Tên cuộc hội thoại</label>
                <div class="col-sm-8">
                    {{form.name}}
                </div>
            </div>
            <input type="hidden" name="next" value="/"/>
            <button type="submit" class="btn btn-success">Tạo mới</button>
        </form>
    </div>
{% endblock %}