{% extends 'base.html' %}
{% block content %}
    <div class="row" style="justify-content: center; text-align: center; display: flex;">
        <form action="/" class="form-group" style="margin: 5%; width: 60%; text-align: right;" method="POST">
            {% csrf_token %}
            <textarea class="form-control" rows="10" id="comment" name="text">{{ paragraph }}</textarea>
            <button type="reset" value="Reset" class="btn btn-danger" style="margin: 2pt;">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Clear
            </button>
            <button type="submit" class="btn btn-success" style="margin: 2pt;">
                <i class="fa fa-play" aria-hidden="true"></i>
                Speech
            </button>
        </form>
    </div>
{% endblock %}

